#box
	display: flex
	justify-content: center
	filter: grayscale(100%)
	&:hover
		filter: grayscale(0%)
		transition: 1s
	#left
		order: 1
	#right
		order: 3
	#carousel
		order: 2
		width: 600px
		height: 400px
		overflow: hidden
		ul
			padding: 0
			margin: 0
			width: 3000px
			li
				list-style-type: none
				float: left
				height: 400px
				img
					width: 600px


